
.filters {
    display: flex;
    gap: 20px;
    margin-bottom: 30px;
    flex-wrap: wrap;
  }
  
  .filter-btn {
    background-color: #6E70CA;
    color: white;
    border: none;
    padding: 15px 20px;
    font-weight: bold;
    border-radius: 15px;
    cursor: pointer;
    width: calc(25% - 15px);
    font-size: 14px;
    height: 80px;
    display: flex;
    align-items: center;
    transition: transform 0.3s ease;
  }
  
  .filter-btn:hover {
    transform: translateY(-3px);
  }
  
  .filter-btn i {
    font-size: 15px;
    margin-right: 15px;
    width: 35px;
    height: 35px;
    background-color: #292642;
    border-radius: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  
  .filter-btn a {
    text-decoration: none;
    color: white;
  }